
    @font-face {
        font-family: "AdventPro-ExtraLight";
        src: url("fonts/AdventPro-ExtraLight.ttf");
    }
    body {
        margin: 0;
    }

    main {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        flex-grow: 1;
    }

    #dnd {
        height: 100%;
        width: 80%;
        flex-grow: 1;
        border-radius: 50px;
        border: 2px dotted #a0a0a0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #dnd::before {
        content: "Drag your previously saved file here!";
    }

    section {
        display: none;
    }


    section.is-visible{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        animation: transition 2s;
    }

    /*Number picker */

    body.modal-visible .numberpicker {
        visibility: visible;
    }

    .numberpicker {
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: hidden;
        position: fixed;
        width: 100%;
        height: 100%;
        overflow: auto;
        padding: 16px;
        box-sizing: border-box;
        z-index: 99;

        background-color: rgba(0, 0, 0, 0.1);
    }

    .modal-content {
        display: grid;
        grid-template-columns: auto auto auto;
        transform: scale(0);
        transition: transform 0.5s ease;
        background: white;
    }

    .modal-content button {
        border: solid 1px;
        background-color: lightblue;
        color: black;
        padding: 20px;
        text-align: center;
        font-size: 20px;
    }

    body.modal-visible .modal-content {
        transform: scale(1);
    }

    body.modal-visible .grid{
        filter: blur(3px) grayscale(100%);
        transition: filter .5s ease;
    }
    body.modal-visible {
        overflow: hidden;
    }

    /*Sudoku grid*/

    .grid {
        display: grid;
        flex-grow: 1;
        justify-content: center;
        align-content: center;
        grid-template-columns: auto auto auto;
        grid-gap: 10px;
        background-color: #fff;
        color: #444;
    }

    .square {
        display: grid;
        grid-template-columns: auto auto auto;
    }

    .cell {
        background-color: lightblue;

        border: 1px solid;
        width: 1.11vmin;
        height: 1.11vmin;
        padding: 20px;
        font-size: 150%;
    }

    .cell.selected {
        background-color: lightgoldenrodyellow;
    }

    .cell.rigid {
        background-color: cornflowerblue;
    }

    header {
        letter-spacing: 10px;
        font-size: 24px;
        font-family: "AdventPro-ExtraLight", serif;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100px;
        margin: 0;
        padding: 0;
        background-repeat: no-repeat;
        background-color: #ffffff;
    }


    /*Main menu buttons*/

    section > a {
        border: none;
        background-color: lightblue;
        color: black;
        padding: 20px;
        text-align: center;
        text-decoration: none;
        font-size: 20px;
        letter-spacing: 10px;
        margin: 8px 4px;
        border-radius: 12px;
        min-width: 20vw;
        font-family: "AdventPro-ExtraLight", serif;

    }

    footer {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 100px;
    }

    .toolbox {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
    }

    .toolbox button {
        background-size: contain;
        cursor: pointer;
        display: inline-block;
        width: 8vmin;
        height: 8vmin;
        border-radius: 20px;
        margin: 4vmin;
    }

    button.audio {
        background: url("svg/speaker.svg") no-repeat top left;
    }

    button.mute {
        background: url("svg/muted.svg") no-repeat top left;
    }

    button.save {
        background: url("svg/save.svg") no-repeat top left;
    }

    button.refresh {
        background: url("svg/reload.svg") no-repeat top left;
    }


    @keyframes transition {
        from {
            opacity: 0;
            transform: rotateX(-30deg)

        }

        to {
            opacity: 1;
            transform: rotateX(0)
        }
    }



 
